<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AllAboutResumes</title>
</head>
<body>
    {% extends 'education/base.html' %}
    {% block content %}
    <h1>Education Details</h1>
    <p>User Name : {{ Profile.userName }} </p>
    <p>Email : {{ Profile.email }}</p>

    <h2>X (Secondary) details</h2>
    <form method="POST" class="form.secondary-education-form">{% csrf_token %}
        {{ form.as_p }}
        <!--<p> <label for='yoc1'>Year of Completion:</label></p>-->
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <h2>XII (Senior Secondary) details</h2>

    <formset method="POST" class="form.senior-secondary-education-formset">{% csrf_token %}
       <!--<p><label for='yoc1'>Year of Completion:</label></p>-->
        {{ formset.as_p }}
        <!---->
        <button type="submit" class="save btn btn-default">Save</button>
    </formset>
{% endblock %}
</body>
</html>